@page "/todo"
@using TodoShared
@inject HttpClient Http

<h3>Todo App</h3>

<input @bind="newTitle" placeholder="New task" />
<input type="date" @bind="newDeadline" />
<button @onclick="AddTodo">Add</button>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" checked="@todo.IsDone" @onchange="(e) => UpdateTodo(todo)" />
            @todo.Title - @todo.deadline.ToString("yyyy-MM-dd")
            <button @onclick="() => DeleteTodo(todo.Id)">X</button>
        </li>
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    private string newTitle = "";
    private DateTime newDeadline = DateTime.UtcNow; // デフォルトで今日の日付

    protected override async Task OnInitializedAsync()
    {
        todos = await Http.GetFromJsonAsync<List<TodoItem>>("api/todo");
    }

    async Task AddTodo()
    {
        var item = new TodoItem { Title = newTitle, IsDone = false, deadline = newDeadline };
        var response = await Http.PostAsJsonAsync("api/todo", item);
        if (response.IsSuccessStatusCode)
        {
            todos = await Http.GetFromJsonAsync<List<TodoItem>>("api/todo");
            newTitle = "";
            newDeadline = DateTime.UtcNow; // 入力フィールドをリセット
        }
    }

    async Task UpdateTodo(TodoItem item)
    {
        await Http.PutAsJsonAsync($"api/todo/{item.Id}", item);
    }

    async Task DeleteTodo(int id)
    {
        await Http.DeleteAsync($"api/todo/{id}");
        todos = await Http.GetFromJsonAsync<List<TodoItem>>("api/todo");
    }
}
